@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.timer {
    position: absolute; 
    top: 10%;
    right: 10%;
}

.conteudo {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size:53px;
    margin-top: 40px;
    font-weight: 700px;
    color: #75B79E;
    margin: 40px auto;

}

.carta {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 2% 2%;
    
}

img {
    width: 100px;
    height: 100px;
}


.frente {
    display: none;
}

.mostrar, .mostrar1 {
    display: initial;
}

.esconder, .esconder1 {
    display: none;
}

.selecionado {
    border: 2px solid cyan;
}

@media (max-width: 576px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        font-size:36px;
        margin-top: 40px;
        font-weight: 700px;
        color: #75B79E;
        margin: 40px auto;
        text-align: center;
    }

    .timer {
        top: 15%;
        right: 5%;
    }
}